*.swp 
Makefile
*/Makefile
*.qmake*
benchmarks/gpu_benchmark/gpu_benchmark
benchmarks/cpu_benchmark/cpu_benchmark
Demo/Demo
tests/cpu_tests/cpu_tests
tests/gpu_tests/gpu_tests
*lib
*obj
*.obj 
*Makefile
